body{
background-color:rgba(248, 248, 255, 0.5); /* Beige */
font-family: 'Poppins', sans-serif;
margin:0;
padding:0; 
/*background-image:url('../images/bgfesta.png');*/
}

.urlcsv:hover{color:#585858;text-decoration: underline;}
.urlcsv{color:blue;}

/*Esconde itens para impressão*/
@media print{
	.scancode{display: none;}
	.btn{display: none;}
	.sair{display:none;}
}


.percentagem {
    height:17px;
    background-color: #FFD700;
    -webkit-transition: 5s all;
    -webkit-animation-duration: 5s;
    -webkit-animation-name: animationProgress;
}

@-webkit-keyframes animationProgress {
    from {width:0;}
}

/* Left Navegação */
.leftNavBg{position:absolute;top:0px;left:0px;width:0%;height:0%;overflow:hidden;background-color:rgba(0,0,0,0.8);opacity:0;z-index:6;}
.leftNavBars, .leftNavBars a{position:absolute;top:5px;left:5px;color:#585858;}
.leftNavBars a i{font-size:32px;}
.leftNav{background-color:#fff;width:0px;height:100%;position:fixed;top:0px;left:-237px;z-index:8;background-image:url('../images/happy-night.png');}
.leftNavShow{width:235px;left:0px;transition:0.5s;}
.leftNavBgShow{width:100%;height:1000%;opacity:1;}
.leftNavTitulo{padding:12px 0px 12px 20px;
background:rgba(0, 0, 255, 0.6);
	color:#fff;text-align:left;position:relative;}
.iosCeta{position:absolute;top:0px;left:235px;background:none;
	padding:12px 12px 11px 12px;
	border-bottom-right-radius:5px;
	opacity: 0;
	pointer-events: none;
}
.iosCetaShow{opacity:1;transition:0.1;}
.iosCeta i{color:#fff;}
/* Left Navegação      FIM */





a .fa-info-circle:hover{color:orange;}

.eb-sinfo div a{
background:-webkit-linear-gradient(#fff,#FFFF00);
padding:10px 20px 5px 20px;
border-radius:90px;
color:#585858;
box-shadow:1px 1px 5px #585858;
}
.eb-sinfo div a:hover{
background:-webkit-linear-gradient(#FFFF00,#EEEE00);}
.eb-sinfo div a i {font-size: 24px;}


:target{
	border:2px solid red;
}



.flex-item.bgreen{background-color: green;color:#fff;width:10%;}
.bgreen i{font-size:27px;color:#fff;}


.imgscan img{width:23%;border-radius:200px;}
.flex-header-item.imgscan{text-align:center;width:30%;}

.lksair{
	background: linear-gradient(red,#FF4500);
	color:#fff;
	padding:12px 12px 12px 12px;
	border-radius: 3px;
}
.lksair:hover{
	background:blue;
}
.lksair i{
	color:#fff;
}

.scaner_box{
	max-width:1024px;
	margin:0 auto;
	border:0px solid #c1c1c1;
	text-align: center;
	
}

.titulo-top-branco{
background-color:rgba(255, 255, 255,0.8);
padding:22px 12px 22px 12px;
text-align: center;
color:#fff;
max-width: 100%;
}

.imgcart img{width:17%;border-radius: 500px;}

.chatsuporte i{font-size: 44px;color:orange;}
.chatsuporte a{position: relative;}
.chatsuporte a i span{position:absolute;top:-30px;left:-90px;text-align:left;
	box-shadow:none;border-radius:2px;color:#585858;
width:140px;}
.chatsuporte{
	position: fixed;
	width:99%;
	bottom:0;
	text-align:right;
	padding:7px 0px 0px 0px;
	border:0px solid #f2f2f2;
}


.btn-busca{
	background-color:#4682B4;
	padding:12px 12px 12px 12px;
}

.mini-img{
	width:45%;
	border:1px solid #c1c1c1;
}


.bg_nopay{
	background-color:red; 
	color:#fff; 
	text-align:center; 
	border-radius: 5px; 
	padding:5px 5px 5px 5px;
}

.bgps{
	background-color:green; 
	color:#fff; 
	text-align:center; 
	border-radius: 5px; 
	padding:5px 5px 5px 5px;
}
.bgpp{
	background-color: #4682B4; 
	color:#fff;
	text-align:center; 
	border-radius: 5px; 
	padding:5px 5px 5px 5px;
}
.bgpos{
	background-color: #FF8C00; 
	color:#fff;
	text-align:center; 
	border-radius: 5px; 
	padding:5px 5px 5px 5px;
}
.bgsistema{
	background-color:purple; 
	color:#fff;
	text-align:center; 
	border-radius: 5px; 
	padding:5px 5px 5px 5px;
}
.bgsistema i{color:#fff;}


.termos{
	opacity: 0;
	width:0px;
	height:0px;
	overflow: auto;
	border:1px solid #c1c1c1;
	background-color:#fff; 
	padding:0px 10px 0px 10px;
	text-align:center;
}
.show-termos{
	opacity: 1; 

	transition: 0.5s;
	width:auto;
	height:250px;
}

.info{
	margin:0px 0px 50px 0px;
	text-shadow: 0px 0px 1px #fff;
}

.titulo .cart-number{
	background-color: red;
	color:#fff;
	border-radius: 50px;
	padding:0px 7px 3px 7px;
	font-weight:bolder;
}

a:hover > .fa-cog{
	-webkit-transform:rotateZ(360deg);
	transition: 0.5s;
}

/*   JANELAS POPUP   */
.wpop-hidden, .wpop-hidden2{
opacity:0;
pointer-events: none;
width:0px;
height:0px;
overflow: hidden;
}

.wpop, .wpop2{
	transition: 0.5s;
	opacity: 1;
	pointer-events: auto;
	position:fixed;
	width:auto;
	height: auto;
	top:0;
	left:0;
	right: 0;
	bottom:0;
	background-color: rgba(0,0,0,0.9);
	z-index:2;
}

.wpop div{
	background-color: #fff;
	max-width:40%;
	max-height: 76%;
	padding:0px 0px 0px 0px;
	margin:0 auto;
	overflow: auto;
	text-align: center;
	background-image: url('../images/happy-night.png');
}
.wpop div p{width: 100%}

.wpop div .wpop-titulo{
background:rgba(0, 0, 255, 0.6);
padding:22px 12px 22px 12px;
text-align: center;
color:#fff;
max-width: 100%;
}
/*   JANELAS POPUP   */



/*   NUMBER    */
.stl-number{
	position: relative;
}
.plus{
	position: absolute;
	top:0px;
	left:107px;
	padding:7px 7px 6px 12px;
}
.plus:hover{background-color:orange;color:#fff;}
.minus:hover{background-color:orange; color:#fff;}
.minus{
	padding:10px 0px 3px 12px;
}
.stl-number a{
text-decoration: none;
background-color:rgba(255,255,255,0.7);
border:0px solid #c1c1c1;
}
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
	border:1px solid #c1c1c1;
	font-size: 24px;
	margin:0px 0px 0px 0px;
	padding:5px 5px 5px 5px;
	width:52px;
}
/* STL NUMBER */

.flex-item .gbg{
	background-color: green;
	color:#fff;
}

.mini-texto{font-size: 12px; color:#585858; font-family: 'Raleway', sans-serif;}

.margin-left-span{
	margin:0px 0px 0px 30px;
	font-size: 16px;
}

.eb-data .valcolor{
	background:-webkit-linear-gradient(#473C8B,#4876FF,#473C8B);
	color:#fff;
	text-align:center;
}

.valcolor{
	background-color: purple;
	color:#fff;
	text-align:left;
}

/*              ESTILO EVENT BOX               */
.eb-sinfo div{
margin:10px 0px 0px 0px;
padding:0px 10px 0px 10px;
text-align:left;
font-size:13px;
}	
.eb-sinfo{
width:270px;
height:320px;
background-color:rgba(0, 32, 240,0.9);
position: absolute;
top: 35px;
left:0px;
z-index: 2;
opacity:0;	
color:#fff;
background-image:url('../images/happy-night-color.png');
}
.eb-sinfo:hover{
transition: 0.5s;
opacity:1;	
}

.eb-sinfo-show{
transition: 0.5s;
opacity:1;	
}


.eb-encerradas div{
margin:150px 0px 0px 0px;
text-align:center;
}	
.eb-encerradas{
width:270px;
height:350px;
background-color:rgba(160, 32, 240,0.9);
position: absolute;
top: 0px;
left:0px;
z-index: 2;
opacity:0;	
color:#fff;
}
.eb-encerradas:hover{
transition: 0.5s;
opacity:1;	
}
.event-box i{color:orange;}
.event-box a {font-weight: bolder;}
.event-box{
	/*background-image: url('../images/mapa.jpg');*/
	position: relative;
	width:270px;
	height:350px;
	border-bottom:1px solid #c1c1c1;
	display: inline-block;
	margin:0px 25px 25px 0px;
	background-color:rgba(211, 211, 211,0.1);
}
.event-box:hover{
	border:0px solid #c1c1c1;
	box-shadow: 1px 1px 5px #c1c1c1;
}
.event-box:hover > .eb-titulo{
opacity: 1;
transition: 0.5s;
}
.eb-local{
text-align:center;
border:0px solid red;
margin:40px 0px 0px 0px;
text-shadow: 1px 1px 1px #fff;
font-size:18px;
}
.eb-data .flex-item{
	height:25px;
	margin:1px 1px 1px 1px;
	border:0px solid red;
}

.eb-data .fa-clock{color:#fff;}

.event-box .eb-titulo{
	position: absolute;
	top:0px;
	left:0px;
	background: rgba(0,0,0,0.8);
	padding:5px 0px 5px 0px;
	color:#fff;
	width:270px;
	height:auto;
	opacity: 1;
	
}

.eb-titulo span{
	padding:5px 0px 5px 5px;
	font-family: 'Raleway', sans-serif;
}


.eb-imagem{
width:270px;
height:210px;
border:0px solid blue;	
}

/*              ESTILO EVENT BOX               */



/* MENUS UL */

.lbtn i{
	font-size:25px;
	color:#fff;
	display: block;
	text-align: center;
	border-radius:200px;
	padding:2px 2px 2px 2px;
	margin:0px 7px 0px 7px;	
}
.lbtn{
	background:rgba(0, 0, 255, 0.6);
	color:#fff;
	display: block;
	text-align: center;
	border-radius:200px;
	padding:2px 2px 2px 2px;
	margin:0px 7px 0px 7px;	
}
.lbtn:hover, .lbtn:hover > i{
	background-color: blue;
	color:#fff;
}

.out, .out i{
	background-color:red;
	color:#fff;
	display: block;
	text-align: center;
	padding:7px 7px 0px 7px;
	margin:0px 7px 0px 7px;	
}
.out:hover, .out:hover > i{
	background-color: orange;
	color:#fff;
}

.nav-footer{background:none; height:auto;}

.nav-footer li{
display: block;
text-align: left;
}
.nav-footer li a{
	color:#fff;
}
.nav-footer li a:hover{
	color:#c1c1c1;
}


.info li{
display: block;
text-align: left;
}
.info li a{
	color:#585858;
}
.info li a:hover{
	color:blue;
}


ul{
	background-color:none;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	border:0px solid green;
}

ul li{
	list-style: none; 
	text-align:right;
	display: inline-block;

}
/* MENUS UL FIM */




a {text-decoration: none;}
a:hover{color:#000;}





.ticket img{width:50%;}
.ticket{
	background-color: rgba(255, 255, 0, 0.4);
	position: relative;
	width:290px;
	border:1px solid #c1c1c1;
	border-left:25px solid #585858;
	border-right:25px solid #585858;
	border-top:dotted #c1c1c1;
	border-bottom:dotted #c1c1c1;
	margin:0 auto;
	padding:30px 15px 0px 15px;
}
.ticket span{
	font-weight: bolder;
	font-size: 18px;
}	

.aln-right{text-align:right;}

.minhas-compras-img{
	width:25%;
	border-radius: 200px;
	border:1px solid #c1c1c1;
}


h1,h2,h3,h4{
	font-family: 'Raleway', sans-serif;
	font-weight:100;
	letter-spacing: 2px;
	text-shadow:1px 1px 1px #fff;
	font-weight:bolder;
	color:#585858;	
}

b{
	text-shadow:0px 0px 0px #000;
}

.box, .recsen{
	opacity: 0;
	height:0px;
	overflow: hidden;
}
.box-show, .recsen-show{
	transition: 0.5s;	
	opacity:1;
	height:auto;
	overflow: hidden;	
}

.center{
	border:0px solid red;
	margin:0 auto;
	max-width:1024px;
	padding:25px 25px 25px 25px;
	background-color: #F5F5DC; /* Beige */
}

.bmenus{
	width:90%;
	margin:30px 0px 0px 0px;
	background: none;
}
.bmenus a{
padding:5px 5px 5px 5px;
}
#c,#c2,#c3{
border:1px solid #c1c1c1;
height:150px;
margin:12px 0px 12px 0px;
padding:12px 12px 12px 12px;
box-shadow: 2px 2px 5px #f2f2f2;
overflow: auto;
background-color: #fff;
}

#t,#t2,#t3{
width:0px;
height:0px;
opacity:0;
pointer-events: none;
background-color: #fff;
}

.gap{
	margin:60px 0px 60px 0px;
}

.qrtop img{width:10%;}
.qrtop{	
	background-color: rgba(255,255,255,0.5);
	text-align: center;
	padding:10px 0px 0px 0px;
}
.qrcode .info{
padding:0px 0px 0px 30px;
}	
.close-qr{
	color:#fff;
	font-size: 24px;
	padding:0px 0px 0px 0px;
}
.qrcode{
	border:0px solid #fff;
	background-color: red;
	background-size: cover;
	background-repeat: no-repeat;
	color:#fff;
	text-shadow: 1px 1px 3px #000;
	padding:0px 0px 0px 0px;
	margin:0 auto;
	max-width:350px;
	height:auto;
}

.qrcode img{
width:65%;
}


.flex-header-item i span{color:#585858;border-radius: 7px;font-weight:none;}
i{position: relative;}
i span{
	opacity: 0;
	width:0;
	height:0;
	position: absolute;
	top:-25px;
	left:-20px;
	pointer-events: none;
	transition: 0.5s;
	border:1px solid #f2f2f2;
}
i:hover > span{
	opacity:1;
	position: absolute;
	top:27px;
	left:5px;
	background: #fff;
	font-size: 14px;
	font-family: verdana;
	padding:3px 3px 3px 3px;
	box-shadow: 2px 2px 2px #c1c1c1;
	width:auto;
	height:auto;
	pointer-events:auto;
	z-index:8;
	border-radius: 5px;
}

.titulo_b{
	background-color: purple;
	color:#fff;
	font-size:13px;
	letter-spacing: 2px;
	padding:5px 5px 5px 5px;
	margin:5px 0px 5px 0px;
	font-family: 'Raleway', sans-serif;

}

small{font-size:12px;color:#585858;}

.titulo.bgred, .titulo.bgred a{background-color: red; }
.titulo.bgred:hover{background-color: red;}
.titulo.bgred a:hover{background-color: red; }


.titulo-centralizado{text-align:center; background:none;}
.titulo{margin:5px 0px 5px 0px;}
.titulo:hover > a {padding:7px 7px 7px 50px;transition: 0.5s;}
.titulo{
	background:rgba(0, 0, 255, 0.6);
	color:#fff;
	text-decoration:none;
	letter-spacing: 2px;
	font-size: 18px;
	padding:7px 7px 7px 7px;
	font-family: 'Raleway', sans-serif;
}
.titulo a{background: none;
	display: block;
	padding:7px 7px 7px 7px;
	color:#fff;
	letter-spacing: 2px;}

.titulo .fa, .titulo .fas, .titulo .fa-angle-right{
	color:#fff;
	background: none;
}
.titulo:hover, .titulo a:hover{background-color:blue;} 


.titulo-purple{margin:5px 0px 5px 0px;}
.titulo-purple, .titulo-purple a{
	background-color:purple;
	color:#fff;
	text-decoration:none;
	display: block;
	padding:7px 7px 7px 7px;
	letter-spacing: 2px;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
}

.titulo-orange{margin:5px 0px 5px 0px;}
.titulo-orange, .titulo-orange a{
	background-color:#CD8500;
	color:#fff;
	text-decoration:none;
	display: block;
	padding:7px 7px 7px 7px;
	letter-spacing: 2px;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
}


span.angle{padding:0px 0px 0px 5px;}
span.angle i{color:#fff;}
span.arrow-move{
	transition: 0.5s;
	padding:0px 0px 0px 50px;
}

.form_edit_compra{border:2px solid red;}
.form_edit_compra input[type="text"]{padding:5px 5px 5px 5px;}

.abox,.bbox,.cbox,.dbox,.ebox, .einfo,.setor, .cart, .form_edit_compra,.fila{
	opacity: 0;
	height: 0;
	overflow: hidden;
}
.abox-show,.bbox-show,.cbox-show,.dbox-show,.ebox-show, .einfo-show,.setor-show,.show-cart,.form_edit_compra-show{
	transition: 0.5s;
	opacity: 1;
	height: auto;
	overflow: hidden;
}

/* CPANEL STYLE */
.box-login img{
width:100%;
}
.box-login{
width:350px;
height:auto;
padding:12px 12px 12px 12px;
border:1px solid #c1c1c1;
margin:0 auto;
text-align:center;
background: #fff;
}

.menu-admin li{
display: inline-block;
}
.menu-admin li a{
text-align: center;	
display: block;
padding:22px 22px 22px 22px;
border:1px solid #4682B4;
width:155px;
height:100px;	
margin:17px 27px 17px 0px;
background-color:rgba(255,255,255,0.5); 
}

.menu-admin li a:hover{
background-color:rgba(255,255,255,0.9); 
}

.menu-admin li img{
width:50px;
height:47px;
}

.menu-admin li i{
font-size:54px;
color:#4682B4;
}

ul.menu-admin{
background:none;
text-align: center;
}
.img-logo-icon{
	position: relative;
	border:1px solid #c1c1c1;
	margin:12px 0px 12px 0px;
}
.img-logo-icon span{
	position: absolute;
	top:2px;
	left:2px;
	background: #f2f2f2;
}
.img-logo-icon img{
	width:20%;
}

p{position: relative; width:50%;}
p span{
	position: absolute;
	top: 12px;
	left:0px;
	color:#585858;
	opacity: 0;
}
p:hover > span{
	transition: 0.3s;
	position: absolute;
	top: -12px;
	left:12px;
	opacity: 1;
	background:#fff;
	padding:0px 5px 0px 5px;
	box-shadow: 1px 1px 3px #c1c1c1;
}

/* STYLE NO CHECKBOX*/
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 0px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.containercart{
	border:0px solid red;
	width:100%;
	height:100%;
}
.containercart i:hover{
	color:blue;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #e1e1e1;
   
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #c1c1c1;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* STYLE NO CHECKBOX     FIM     */



input[type="text"],input[type="password"],input[type="email"]{
	width:70%;
	padding:12px 12px 12px 12px;
	margin:7px 0px 7px 0px;
	border:1px solid #c1c1c1;
	box-shadow: 2px 2px 5px #f2f2f2;
}

input[type="text"].text-medio{
	width:50px;
}

input[type="radio"]{
	cursor: pointer;
	width:20px;
	height:20px;
	margin:0px 0px 0px 0px;
}

select{
	font-size: 16px;
	max-width:320px;
	border:1px solid #c1c1c1;
	padding: 3px 3px 3px 3px;
	cursor: pointer;
	background:linear-gradient(#ffffff,#f2f2f2);	
}

select option.reservado{
	cursor: pointer;
}

input[type="file"]{
	cursor: pointer;
}

textarea{
	width:90%;
	padding:12px 12px 12px 12px;
	font-size: 18px;
	border:1px solid #c1c1c1;
	padding:5px 5px 5px 5px;
}

input[type="text"]:disabled, input[type="email"]:disabled{cursor: no-drop;}

input[type="submit"]{
	background-color:#FF8C00;
	color:#fff;
	border:none;
	letter-spacing: 2px;
	padding:12px 12px 12px 12px;
	cursor: pointer;
}
input[type="submit"]:hover{background-color:#FFA500;}


.cart-link2{
	text-decoration: none;
	background-color: green;
	color:#fff;
	border-radius: 5px;
	display: block;
	text-align: center;
	font-size: 16px;
	padding:2px 15px 3px 35px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
}
.cart-link2:hover{background-color: #2E8B57;}

.cart-link{
	text-decoration: none;
	background-color: green;
	color:#fff;
	border-radius: 5px;
	display: block;
	text-align: center;
	padding:15px 15px 15px 15px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
}
.cart-link i{font-size: 24px; color:#fff;}

.cart-link:hover{
	background-color: #228B22;
	
}

button.btn_deall i{color:#fff;}

.pagarme-checkout-btn{
	display: block;
	position: relative;
	width:100%;
	color:#fff;
	border:none;
	background-color:green;
	font-size: 24px;
	cursor: pointer;
	padding:12px 12px 12px 12px;	
}

button.btn_ps{
	display: block;
	position: relative;
	width:100%;
	background-color:green;
	font-size: 24px;
	padding:12px 12px 12px 12px;
}
button.btn_ps:hover{background-color: #006400;}
button.btn_ps i{
	position: absolute;
	top: 10px;
	left:0px;
	color:#fff;
	background-color:green;
	padding:4px 6px 5px 9px;
	margin:0px 0px 0px 12px;
	border-radius:60px;

}

button.btn_pp{
	display: block;
	position: relative;
	width:100%;
	background-color: blue;
	font-size: 24px;
	padding:12px 12px 12px 12px;
}
button.btn_pp span{
text-shadow: 1px 1px 1px #fff;
font-weight: 400px;
font-size:50px;
}	
button.btn_pp i{
	position: absolute;
	top: 10px;
	left:0px;
	color:#fff;
	background-color:green;
	padding:4px 6px 5px 9px;
	margin:0px 0px 0px 12px;
	border-radius:60px;

}
button.btn_pp:hover{background-color: #4682B4;}

button{
	border:none;
	background-color:#9932CC;
	color:#fff;
	padding:3px 7px 5px 7px;
	cursor: pointer;
}
button:hover{background-color:orange;border-radius: 3px;}

button.btncart{
position: relative;	
background-color:#FF8C00;
color:#fff;
border:none;
letter-spacing: 2px;
padding:12px 12px 12px 12px;
border-radius: 1px;
cursor: pointer;	
}
button.btncart i {color:#fff;}
button.btncart:hover{transition:0.5s;background-color:#FFA500;}


/* MENSAGENS */
.red{
	animation-name: alertas;
	animation-duration: 5s;
	background:red;
	text-align:center;
	position: fixed;
	top:-100px;
	left:0px;
	width:100%;
	font-size: 22px;
	color:#fff;
	padding:12px 12px 12px 12px;
	margin:0px 0px 0px 0px;
	z-index: 8;
}
.green{
	animation-name: alertas;
	animation-duration: 5s;
	background:green;
	text-align:center;
	position:fixed;
	top:-100px;
	left:0px;
	width:100%;
	font-size: 22px;
	color:#fff;
	padding:12px 12px 12px 12px;
	margin:0px 0px 0px 0px;
	z-index: 8;
}

@keyframes alertas{
	0%{top:-200px;}
	5%{top:0px;}
	10%{top:0px;}
	15%{top:0px;}
	20%{top:0px;}
	70%{top:0px;}
	75%{top:0px;}
	80%{top:0px;}
	85%{top:0px;}
	90%{top:0px;}
	95%{top:0px;}
	100%{top:0px;}	
}


.entrada .gapline{border-bottom:5px solid yellow;margin:8px 0px 27px 0px;width:40%;}
.entrada .info-gapline{border-bottom:3px solid yellow;margin:8px 0px 8px 0px;width:40%;}
.entrada h2{font-weight:bolder;font-size:32px;color:#585858;}

.gapline{border-bottom:1px solid #c1c1c1;margin:20px 30px 20px 30px;}
.eb-sinfo .gapline{border-bottom:2px solid yellow;margin:7px 0px 7px 0px;width:30%;}
.gaplinegreen{border-bottom:5px solid green;margin:7px 0px 7px 0px;width:30%;}

.largeprice{
	font-size: 24px;
}

/* FLEX */
.flex{
	display: flex;
	border:0px solid #c1c1c1;
}
.flex-window{
display: flex;
}
.flex-window-item{
	width:50%;
	border:1px solid #e1e1e1;
	margin:0px 10px 0px 10px;
	text-align: center;
	background-color:#fff;
	background-image:url(../images/happy-night.png);
}
.flex-window-item p{width:100%;}

.flex-window .wpop-titulo{
background:rgba(0, 0, 255, 0.6);
padding:22px 12px 22px 12px;
text-align: center;
color:#fff;
max-width: 100%;
}
.under{border-bottom:1px solid #c1c1c1;background:rgb(255,255,255,0.7);}

.under-purple{border-bottom:2px solid #8A2BE2;background:rgb(160, 32, 240,0.7);color:#fff;}
.under-orange{border-bottom:2px solid #FF8C00;background:rgb(255, 140, 0,0.7);color:#fff;}
.under-steelblue{border-bottom:2px solid blue;background:rgb(70, 130, 180,0.7);color:#fff;}

.flex .stl{
	transition: 0.5s;
	border-right:25px solid #c1c1c1;
	border-left:25px solid #c1c1c1;
	border-top:1px solid #c1c1c1;
	border-bottom:1px solid #c1c1c1;
	border-radius:7px; 
	background-color: rgba(255,255,255,0.5);
}

.flex-item{
	width:50%;
	/*background:rgb(255,255,255,0.7);*/
	margin:3px 3px 3px 3px;
	padding:5px 5px 5px 5px;
}


.bottombor .gbor{
	padding:0px 0px 0px 15px;
}
.bottombor:hover > .gbor{
	transition: 0.5s;
	padding:0px 0px 0px 85px;
}
.bottombor{
	border-bottom:1px solid #c1c1c1;
	border-left:25px solid #c1c1c1;
}

.spaleft{padding:0px 0px 0px 30px; width: 100%; border:1px solid none;}
.spaceleft .fa, .spaceleft .fas{color:#4682B4;}
.rghbor{border-right:1px solid #c1c1c1;text-align:center; width:40%;}
.sbg{background: none; width:100%; padding:5px 0px 5px 0px;} /* SBG = SEM BG*/
.sbg-alt{background: none; padding:5px 0px 5px 0px;  margin:0px 8px 0px 8px;} /* SBG = SEM BG*/
.sbg i{color:#4682B4; font-size:20px;}


.flex-item span{color:#585858; background-color: none;}

.flex-mini-item{
	width:5%;
	text-align: center;
	background: none;
	margin:3px 3px 3px 3px;
	padding:5px 5px 5px 5px;
}
.flex-mini-item i{
	font-size: 22px;
	background: none;
	padding:0px 0px 0px 0px;
}

.flex-header{
	display: flex;
	border:0px solid #c1c1c1;
	background:linear-gradient(#ffffff,#f2f2f2);
	height:110px;
	border-bottom:0px solid #c1c1c1;
}

.flex-header-item.left,.flex-header-item.rigth{width:25%;text-align:center;border:0px solid red;}
.flex-header-item.rigth p{width:100%;text-align:center;border:0px solid red;}
.flex-header-item.search{width:100%;border:0px solid red;}

.search{
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}

.btnSearch{background:rgba(0, 0, 255, 0.6);
	padding:13px 27px 13px 27px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}

.flex-header-item{
	width:50%;
	background: none;
	border:0px solid red;
	
}
.flex-header-item .logo{
	border:0px solid red;
	overflow: hidden;
	padding:15px 0px 0px 65px;
	height:74px;
	width:60%;
}
.flex-header-item .logo img{
	width:85%;
	
}


.logo-footer{
	background-color:none;
	border-radius: 5px;
	padding:5px 5px 0px 5px;
}

.logo-footer img{
	width:50%;
}

.flex-meio{
	display: flex;
	border:0px solid #c1c1c1;
	margin:30px 0px 0px 0px;
	padding:0px 0px 90px 0px;
}

.flex-meio-item{
	width:90%;
	background: none;
	border:0px solid #c1c1c1;
	margin:3px 0px 3px 3px;
	padding:0px 0px 0px 85px;
}

.flex-meio-item h1{
	border-left:5px solid green;
	padding:0px 0px 0px 10px;
	margin:0px 0px 20px 0px;
}

.direitos, .direitos a{
	color:#fff;
	background-color: #000;
	padding:12px 12px 12px 12px;
	text-align: center;
}
.direitos a:hover{color:#585858;}
.direitos img{
	width:1%;
}

.section0{
	background-color:rgba(153, 50, 204, 0.8);
	padding:100px 0px 100px 0px;
	color:#fff;
	font-size:35px;
	text-align:center;
	background-image:url('../images/happy-night.png');
}
.section0 p{font-size: 18px; width:100%;}
.section0 p img{width:10%;border-radius: 200px;padding:0px 0px 0px 150px;}

.flex-footer{
	display: flex;
	border:0px solid #c1c1c1;
	padding:60px 0px 100px 0px;
	background-color:#4682B4;
	background-image:url('../images/footer_bg.jpg');
	background-attachment: fixed;
	background-size:cover;
	background-position: center;
	color:#fff;
}

.banners img{

width:91px;
height:70px;
}

.formas-pagto p{
	width:100%;
	
}
.formas-pagto a{color:#87CEEB;}
.formas-pagto{
	border:0px solid red;
	color:#585858;
	color:#fff;
	padding: 50px 50px 50px 50px;
	background-color:rgba(0,0,0,0.9);
	/*background-image: url('../images/pino.png');*/
}


.flex-footer-item{
	width:50%;
	background: none;
	margin:3px 3px 3px 3px;
	padding:5px 5px 5px 45px;
}

.flex-footer-item h1,h2,h3{color:#fff;text-shadow: none;}

.mob-borgap,.a_nav_mob,.b_nav_mob,.mob_map{display: none;}

#pcontainer1{
	width: 600px;
	height: 400px;
}

.ios-menu, .leftNavBars, .tarjaMob{display: none;}


@media screen and (max-width: 767px) {

.fa-search{display: none;}

.container {margin:0px 0px 15px 0px;}

.barMenu{position:absolute;top:35px;}
.barMenu{width:34px;height:32px;border:0px solid red;}
.barInside{width:100%;border-bottom:2px solid #27408B;margin:0px 0px 7px 0px;}

.centraldeajuda{display: none;}
.leftNavBars, .tarjaMob{display:block;}
.tarjaMob{background-color:orange;color:#fff;padding:15px 0px 15px 0px;width:100%;text-align: center;}

.event-box .eb-titulo{
	position: absolute;
	top:0px;
	left:0px;
	background: rgba(0,0,0,0.8);
	padding:5px 0px 15px 0px;
	color:#fff;
	width:270px;
	height:auto;
	opacity: 1;
	
}

.ios-menu{display:block;width:100%;text-align: right;z-index:4;}
.ios-menu{position:absolute; top:-25px;left:0px;}
.ios-menu i {background-color:none;letter-spacing:3px;font-size:24px;
	color:#27408B;border-radius:15px;
padding:2px 1px 2px 1px;
}
.ios-menu button{border-radius:5px;}


.gaplinegreen{border-bottom:5px solid green;margin:7px 0px 7px 10px;width:60%;}

.flex-meio-item .entrada .gapline{border-bottom:5px solid yellow;
	margin:7px 0px 27px 20px;width:90%;}

.flex-meio-item .entrada h2{font-weight:bolder;font-size:18px;
	text-align: left;
	padding:0px 0px 0px 20px;
}

.flex-header-item.left,.flex-header-item.rigth{width:95%;text-align:center;border:0px solid red;}
.flex-header-item.rigth p{
	width:100%;
	text-align:center;
	border:0px solid red;
	background-color: #fff; 
	border-radius: 7px;}
.search, .btnSearch{display:none;}


.formas-pagto{padding:90px 0px 60px 0px;}
.formas-pagto p{max-width: 90%;margin:0 auto;}

/* janelas */
.wpop div{max-width:90%;}

/*LOGO MARCA*/
.flex-header-item .logo{
	border:0px solid red;
	padding:0px 0px 10px 0px;
	max-width:95%;
	margin:0 auto;
}

.flex-header-item .logo img{
	border:0px solid red;
	padding:7px 0px 0px 0px;
	height:auto;
	max-width:70%;
}
/*-------------------------*/


#pcontainer1{
		width: 100%;
		height: 400px;
	}

/* NAVEGACAO */
.a_nav,.b_nav{display:none;}
.a_nav_mob,.b_nav_mob,.mob_map{display: block;}
.a_nav_mob a{margin:22px 0px 32px 12px;}
.a_nav_mob,.b_nav_mob{
	background-color:none;
	position:none;
	padding:12px 0px 12px 12px;
	width:95%;
	height:auto;
	border-radius:0px;
	border:0px solid red;
	text-align: left;
}
.a_nav_mob a,.b_nav_mob a, .a_nav_mob a i,.b_nav_mob a i {color:#585858;}
.a_nav_mob a,.b_nav_mob a{display: block;}
.a_nav_mob a:hover,.b_nav_mob a:hover{border-bottom:1px solid #c1c1c1;border-left:20px solid #c1c1c1;padding:0px 0px 0px 30px;transition:0.5s;}
.b_nav_mob li{display: block;text-align: left;padding:0px 0px 30px 0px;}

.boright{border-right:1px solid #c1c1c1; padding:0px 12px 0px 0px;}
.lbtn_mob i{font-size:25px;color:#fff;}
.lbtn_mob {color:#fff;}
.lbtn_mob{margin:0px 5px 0px 5px;}
/* ------------------------------------- */



.info{text-align: left;}

.spaleft{padding:0px 0px 0px 0px; width: 100%; border:1px solid none;text-align: left;}





p{width:95%;}
.titulo,.titulo a{font-size:12px;}


.flex, .flex-header, .flex-meio, .flex-footer,.flex-window{
	display: block;
}
.flex-item, .flex-header-item, .flex-meio-item, .flex-footer-item{
	margin:0 auto;
	padding:0px 0px 0px 0px;
	border:0px solid red;
	text-align:left;
	width:95%;
}
.flex-footer-item{padding:0px 0px 0px 20px;}

.flex-window-item p{width:100%;}
.flex-window-item{border:1px solid #e1e1e1;margin:0px 0px 50px 0px;width:99%;}

.flex-meio-item{padding:20px 0px 0px 0px;}
.flex-item{padding:10px 0px 10px 0px;}

.flex-footer-item ul li {border:0px solid red;text-align:left;}

h1,h2,h3,h4{
font-weight:bolder;font-size:18px;
	text-align: left;
	padding:0px 0px 0px 10px;	
}

.eb-data .flex-item{padding:0px 0px 0px 0px;}

.eb-data .flex{display: flex;}
.event-box{display: block; margin:0 auto;}
.mob-borgap{display:block;margin:50px 0px 50px 0px;}

.direitos a{ font-size:12px; }
.direitos img{ width:4%; }

}